<div class="card carousel-card insta text-center mt-3">

  <div class="topbar">
    <div>
      <%= image_tag "138893298.jpg", class:"icon" %>
        <b><%= current_user.instagram %></b>
    </div>
    <div>
        <%= render "layouts/instagram/threepoints" %>
    </div>

              </div>
            <content select="img" style="max-width:max-content;">

            <div>
              <img src="<%=post.images[0]%>" alt="" class="crop custom">
            </div>
            </div>
            </canvas>

            <%= render "layouts/instagram/btns_carousel" %>

        </div>
              <%# <img src="http://placehold.it/327x249" style="max-width:max-content;"> %>
          </content>

          <%= render "layouts/instagram/interactionsbtns" %>

          <div class="textcontent">
            <b> <%= current_user.instagram %> </b>
            <span style="display:inline;">
              <%= post.description[0, 120] %>... plus
            </span>
          </div>
