<div class="card carousel-card insta text-center mt-4 mb-3">
            <div class="topbar">
              <div>
                <%= image_tag "138893298.jpg", class:"icon" %>
                  <b><%= current_user.instagram %></b>
              </div>
              <div>
                 <%= render "layouts/instagram/threepoints" %>
              </div>

              </div>
            <content select="img" style="max-width:max-content;">
          <div id="carouselExampleIndicators"  class="carousel slide custom">
            <div class="carousel-indicators">
              <% if post.images.length > 1 %>
                <% post.images.each_with_index do |photo, index| %>
                  <div data-bs-target="#carouselExampleIndicators-<%=index%>" data-bs-slide-to="<%=index%>" class="<%= index == 0 ? "active" : "" %> rounded-circle card-indicator"></div>
                <% end %>
              <% end %>
            </div>

            <div class="carousel-inner" data-controller="show-imgs">
              <% post.images.each_with_index do |photo, index| %>
                <div class="carousel-item <%= index == 0 ? "active" : "" %>">
                  <%# <%= cl_image_tag photo.key , class:"crop custom"%>
                  <img data-show-imgs-target="image" data-src="<%= photo %>" alt="" class="crop">
                </div>
              <% end %>
            </div>
            </canvas>
          <% if post.images.length > 1 %>

            <%= render "layouts/instagram/btns_carousel" %>

          <% end %>
        </div>
              <%# <img src="http://placehold.it/327x249" style="max-width:max-content;"> %>
          </content>

          <%= render "layouts/instagram/interactionsbtns" %>

          <div class="textcontent" data-controller="toggledescription">
    <b> <%= current_user.instagram %> </b>

    <span style="display:inline;" data-action="click->toggledescription#fireplus">
      <span data-toggledescription-target="description">
        <% if post.description.size > 64 %>
          <%= post.description[0..64] %><span style="color: grey;">...plus</span>
        <% else %>
          <%= post.description %>
        <% end %>
      </span>
      <span data-toggledescription-target="plus" class="d-none"><%= post.description %></span>
    </span>

  </div>

</div>
