<div class="card carousel-card insta text-center mt-4 mb-3">

  <div class="topbar">
    <div>
      <%= image_tag "138893298.jpg", class:"icon" %>
      <b><%= current_user.instagram %></b>
    </div>

    <div>
        <%= render "layouts/instagram/threepoints" %>
    </div>

  </div>

  <content select="img" style="max-width:max-content;">
    <div id="carouselExampleIndicators"  class="carousel slide custom">

      <div class="carousel-indicators">
        <% if post.pictures.length > 1 %>

          <% post.pictures.each_with_index do |photo, i| %>
            <div data-bs-slide-to="<%=i%>" class="<%= i == 0 ? "active" : "" %> rounded-circle card-indicator"></div>
          <% end %>
        <% end %>

      </div>

      <div class="carousel-inner" data-controller="show-imgs">
        <% post.pictures.each_with_index do |img, i| %>
          <div class="carousel-item <%= i == 0 ? "active" : "" %>">
            <%= cl_image_tag img.photo.url , class:"crop", data: { show_imgs_target: "image", src: img.photo.url } %>
          </div>
        <% end %>
      </div>

      <% if post.pictures.length > 1 %>
        <%= render "layouts/instagram/btns_carousel_show" %>
      <% end %>

    </div>
  </content>

          <%= render "layouts/instagram/interactionsbtns" %>

          <div class="textcontent" data-controller="toggledescription">
    <b> <%= current_user.instagram %> </b>

    <span style="display:inline;" data-action="click->toggledescription#fireplus">
      <span data-toggledescription-target="description" style="cursor:pointer;">
        <% if post.description.size > 64 %>
          <%= post.description[0..64] %><span style="color: grey;">...plus</span>
        <% else %>
          <%= post.description %>
        <% end %>
      </span>
      <span data-toggledescription-target="plus" class="d-none" style="cursor:pointer;"><%= post.description %></span>
    </span>

  </div>

</div>
