<div class='row'>
  <div class='col-12 col-md-6 mb-3 text-center'>
    <%= simple_form_for @post,
              data: {
              controller: "alert",
              action: "submit->alert#initSweetalert"
            }, method: :delete do |f|
    %>
      <%= f.submit "Supprimer ðŸ—‘ï¸", class:"button-cancel" %>
    <% end %>
  </div>


  <div class="col-12 col-md-6">

    <div class='col-12 col-md-6 text-center'>
      <%= link_to "Sauvegarder ðŸ’¾", posts_drafts_path, class:"button-annexe"%>
    </div>

    <div class="col-12 col-md-6 text-center">
      <%= link_to "Programmer ðŸ“…", post_edit_path(post),  class:"button-annexe"%>
    </div>

  </div>

</div>



<div class="text-center my-3">
  <%= link_to "Publier", posts_publish_path(post), class:"button-instagram-show my-3" %>
</div>
