<div class="d-flex">

  <%= render "layouts/dashboard" %>



  <div class="container rounded-4 p-5 d-flex flex-column align-items-center">
    <h1>Mes publications </h1>
        <div class=" d-flex f-row">
          <div class="grid">
            <% @historique.each_with_index do |post, index| %>
                    <div class="card carousel-card m-3">
            <div class="topbar">
              <div>
                <%= image_tag "138893298.jpg", class:"icon" %>
                <b><%= current_user.instagram %></b>
              </div>
              <%= render "layouts/instagram/threepoints" %>
            </div>
            <%= link_to "http://instagram.com" do %>
            <content select="img" style="max-width:max-content;">
            <div id="carouselExampleIndicators-<%= index %>"  class="carousel slide custom-annexe">
              <div class="carousel-indicators">
                <% if post.photos.length > 1 %>
                  <% post.photos.each_with_index do |photo, index| %>
                    <div data-bs-target="#carouselExampleIndicators-<%=index%>" data-bs-slide-to="<%=index%>" class="<%= index == 0 ? "active" : "" %> rounded-circle card-indicator"></div>
                  <% end %>
                <% end %>
              </div>
              <div class="carousel-inner">
                <% post.photos.each_with_index do |photo, index| %>
                    <div class="carousel-item <%= index == 0 ? "active" : "" %>">
                      <img src="<%=photo%>" alt="" class="crop custom">
                    </div>
                <% end %>
              </div>
              <% if post.photos.length > 1 %>
                <%= render "layouts/instagram/btns_carousel" %>
              <% end %>
            </div>

            </content>
            <% end %>
            <%# <div class="cta">[[cta]]
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32" width="15" height="15">
                    <path d="M10 3l13.2 13-13 14" style="stroke: #1c8bb6;stroke-width: 5;" />
                </svg>
            </div> %>
            <%= render "layouts/instagram/interactionsbtns" %>

              <div class="textcontent">
                <b> <%= current_user.instagram %> </b>
                <span style="display:inline;">
                  <%= post.description %>... plus
                </span>
              </div>

          </div>
        <% end %>
      </div>
    </div>
    <div class="text-center mx-5 ">
    <%= link_to "Générer un autre post", new_post_path, class:"button-valider-historique my-3 px-3" %>
    <%= link_to "Voir mes posts sauvegardés", posts_drafts_path, class:"button-annexe-historique "%>
    </div>

  </div>


</div>
