
<nav class="breadcrumb infos-card">
    <ul>
        <li class="breadcrumb_active">Générateur de post &#10148</li>
        <li class="breadcrumb_inactive">Modification &#10148</li>
        <li class="breadcrumb_inactive">Publication</li>
    </ul>
</nav>

 <div class="d-flex justify-content-center" data-controller="ia-generator">
  <div class=" w-75 infos-card rounded-4 px-7 mt-4 d-flex flex-column align-items-center">
    <h1 class="mt-4">Votre prochaine publication Instagram</h1>
    <div class = "w-75  px-4 mt-4">
      <%= simple_form_for @post do |f| %>
        <%= f.input :prompt, label: "Prompt", placeholder: 'Décrivez nous ce que vous souhaitez écrire dans votre post Instagram', input_html: { data: {action:"blur->ia-generator#blur", ia_generator_target:"prompt"} } %>
        <p class="d-none text-danger fst-italic", data-ia-generator-target="text" style="font-size: 12px;">le prompt est obligatoire</p>
        <div class=" d-flex justify-content-space-between mt-4">
          <div class="form-group">
          <%= f.input :many_imgs, label: "Nombre d'images à générer (optionnel)" do %>
            <%= f.select :many_imgs, (1..4).to_a, prompt: 'choisisez un chiffre', class:"form-select" %>
          <% end %>
          </div>
        <%= f.input :photos, as: :file, input_html: {multiple: true}, label: "Télécharger vos images (optionnel)" %>
        </div>
        <div class="text-center mt-5">
        <%= f.submit "Générer votre post", class:"button-valider mb-5 "%>
        </div>
        <% end %>
      </div>
  </div>
</div>
