
<nav class="breadcrumb infos-card">
    <ul>
        <li class="breadcrumb_inactive">Générateur de post &#10148</li>
        <li class="breadcrumb_active">Modification &#10148</li>
        <li class="breadcrumb_inactive">Publication</li>
    </ul>
</nav>

<h1>Votre post</h1>

  <a href=""><%= @post.prompt %></a>

  <button><%= @post.description %></button>


<%= link_to "Publier", posts_publish_path(@post) %>
<%= link_to "Supprimer 🗑️", posts_drafts_path, data: { turbo_method: :delete, turbo_confirm: "Etes-vous sûr de vouloir supprimer votre post ?"} %>
<%= link_to "Sauvegarder", posts_drafts_path %>
<%= link_to "Programmer", new_post_path %>

<% @post.photos.each do |photo| %>
  <div class="p-1">
    <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill %>
  </div>
<% end %>
