<%# <div class="breadcrumb infos-card">
    <ul>
      <li class="breadcrumb_inactive">Générateur de post &#10148</li>
      <li class="breadcrumb_active">Modification &#10148</li>
      <li class="breadcrumb_inactive">Publication</li>
    </ul>
</div> %>

<main id='show' class="row">

  <section id='post' class='col-12 col-md-6 p-5'>
    <h4 class='text-center mb-3'>Votre post</h4>

    <div id='img-post' class='grid' data-controller="show-imgs">
      <% @post.pictures.each do |img| %>
        <div>
          <%= cl_image_tag img.photo.url , class:"crop", data: { show_imgs_target: "image", src: img.photo.url } %>
        </div>
      <% end %>
    </div>

    <p id='description'>
      <%= @post.description %>
    </p>

    <div data-controller="toggle">

      <div class="d-flex justify-content-center flex-wrap">

        <button data-action="click->toggle#fireArea" data-toggle-target="modif" class="button-annexe">
          Modifier ma description ✏️
        </button>
        <%= form_with url: regenerate_path(@post), method: "PATCH", html: { autocomplete: 'off'} do |f| %>
          <%= f.submit "Recréer une description 🤔", class:"button-annexe", data: { toggle_target: "regen" } %>
        <% end %>

        <div style="flex-basis:100%" data-toggle-target="textarea" class="d-none">
          <%= simple_form_for @post  do |f| %>
            <%= f.input :description, label: false, placeholder: @post.description, input_html: { id:"modif-description" }%>
            <div class="d-flex justify-content-around">
              <button data-action="click->toggle#cancelArea" class="button-cancel" style= "flex-basis:40%">
                Annuler ❌
              </button>
              <%= f.submit "Modifier ✔️", class: "button-annexe", style: "flex-basis:40%" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </section>

  <section id='view-insta' class='col-12 col-md-6 p-5'>
    <h4 class='text-center mb-3'>Vue Instagram</h4>
    <div class='d-flex justify-content-center'>
      <%= render "insta_show", post: @post %>
    </div>
      <div class="container-buttons mt-3">
        <%= render "show_btns", post: @post %>
      </div>

  </section>

</main>
