<div class="breadcrumb infos-card">
    <ul>
        <li class="breadcrumb_inactive">Générateur de post &#10148</li>
        <li class="breadcrumb_active">Modification &#10148</li>
        <li class="breadcrumb_inactive">Publication</li>
    </ul>
</div>

<div class="container-show d-flex flex-nowrap">

  <div class="container-prompt-img-description prompt w-50 p-3">

    <h4 class="text-center py-3">
      Votre post
    </h4>

    <div class="update-img-text infos-card p-5">


      <%= simple_form_for @post  do |f| %>

        <div class="form text-center py-3">

          <div class="form py-3 d-flex flex-wrap justify-content-center">
            <% @post.images.each do |photo| %>
              <div style="flex-basis:33%" class="p-1">
                <img src="<%=photo%>" alt="" class="crop">
              </div>
            <%end%>
          </div>

          <div class="p-3" data-controller="toggle">

            <div class="post-description-modifiable">
              <p><%= @post.description %></p>
            </div>

            <div class="d-flex justify-content-center mt-3 flex-wrap">

              <button style="flex-basis:40%" data-action="click->toggle#fireArea" data-toggle-target="modif" class="button-annexe m-2">
                Modifier la description
              </button>
              <%= link_to "Régénérer un post", posts_publish_path(@post), style: "flex-basis:40%", class:"button-annexe m-2", data: { toggle_target: "regen" }%>

              <div style="flex-basis:100%" data-toggle-target="textarea" class="d-none">

                <%= f.input :description,  placeholder: @post.description, class:"mx-3" %>
                <div class="d-flex justify-content-around">
                    <%= f.submit "Modifier mon post", class: "button-annexe", style: "flex-basis:40%" %>
                    <button data-action="click->toggle#cancelArea" class="button-cancel" style= "flex-basis:40%">
                      cancel
                    </button>
                </div>

              </div>

            </div>

          </div>

            <%# <%= link_to "Régénérer un post", posts_publish_path(@post), class:"button-annexe"%>

        </div>

      <% end %>
    </div>

      <%= form_with url: regenerate_path(@post), method: "PATCH", html: { autocomplete: 'off' } do |f| %>
        <%= f.text_field :new_prompt, input_html: { value: "", placeholder: "Re-taper votre post" } %>
        <%= f.submit "Regenerer le post"%>
      <% end %>

    </div>




  <div class="container-instagram w-50 p-3">

    <h4 class="text-center py-3">
      Vue Instagram
    </h4>

    <div class="d-flex align-items-center flex-column">
      <%= render "post_instagram", post: @post %>
    </div>



    <div class="container-buttons text-center mt-3">
      <%= render "show_btns", post: @post %>
    </div>

  </div>

</div>
