<nav class="breadcrumb infos-card">
    <ul>
        <li class="breadcrumb_inactive">Générateur de post &#10148</li>
        <li class="breadcrumb_active">Modification &#10148</li>
        <li class="breadcrumb_inactive">Publication</li>
    </ul>
</nav>

<div class="d-flex flex-nowrap">


  <div class="prompt w-50 px-3">
    <h4 class="text-center"> Votre post </h4>
    <div class="infos-card">
      <%= simple_form_for @post  do |f| %>
    <div class="form text-center py-3">
      <% @post.images.each do |photo| %>
      <%# <%= cl_image_tag photo.key %>
      <img src="<%=photo%>" alt="" class="crop custom">
      <%end%>
    </div>
    <div> <%= @post.description %></div>
      <div data-controller="toggle" class="mt-5 text-center">
        <button  data-action="click->toggle#fire" data-toggle-target="dispare" class="button-annexe ">Modifier la description</button>
        <%= link_to "Régénérer un post", regenerate_path(@post), class:"button-annexe"%>
          <div data-toggle-target="togglableElement" class="d-none">
              <%= f.input :description,  placeholder: @post.description, class:"mx-3" %>
              <%= f.submit "Modifier mon post", class:"button-annexe" %>
          </div>
      </div>
        <%# <div class="champs-form mx-3">
        <%= f.input :description,  placeholder: @post.description, class:"mx-3" %>
        <%# </div>  %>
      <%# <%= f.input :photos, as: :file, input_html: {multiple: true} %>
        <div class="text-center mt-4">
        <%# <%= f.submit "Regénérer", class:"button-valider mt-3"%>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <h4 class="text-center" >Vue Instagram</h4>
        <div class="card carousel-card insta text-center mt-3">
            <div class="topbar">
              <div>
                <%= image_tag "138893298.jpg", class:"icon" %>
                  <b><%= current_user.instagram %></b>
              </div>
              <div>
                 <%= render "layouts/instagram/threepoints" %>
              </div>

              </div>
            <content select="img" style="max-width:max-content;">
          <div id="carouselExampleIndicators"  class="carousel slide custom">
            <div class="carousel-indicators">
              <% if @post.images.length > 1 %>
                <% @post.images.each_with_index do |photo, index| %>
                  <div data-bs-target="#carouselExampleIndicators-<%=index%>" data-bs-slide-to="<%=index%>" class="<%= index == 0 ? "active" : "" %> rounded-circle card-indicator"></div>
                <% end %>
              <% end %>
            </div>

            <div class="carousel-inner ">
              <% @post.images.each_with_index do |photo, index| %>
                <div class="carousel-item <%= index == 0 ? "active" : "" %>">
                  <%# <%= cl_image_tag photo.key , class:"crop custom"%>
                  <img src="<%=photo%>" alt="" class="crop custom">
                </div>
              <% end %>
            </div>
            </canvas>
          <% if @post.images.length > 1 %>

            <%= render "layouts/instagram/btns_carousel" %>

          <% end %>
        </div>
              <%# <img src="http://placehold.it/327x249" style="max-width:max-content;"> %>
          </content>

          <%= render "layouts/instagram/interactionsbtns" %>

          <div class="textcontent">
            <b> <%= current_user.instagram %> </b>
            <span style="display:inline;">
              <%= @post.description %>... plus
            </span>
          </div>

  </div>
    <div class="text-center mt-3">
      <%= link_to "Supprimer 🗑️", post_path(@post), data: { turbo_method: :delete, turbo_confirm: "Etes-vous sûr de vouloir supprimer votre post ?"}, class:"button-annexe" %>
      <%= link_to "Sauvegarder", posts_drafts_path, class:"button-annexe"%>
      <%= link_to "Programmer", new_post_programmation_path(@post),  class:"button-annexe"%>
      <%= link_to "Publier", posts_publish_path(@post), class:"button-valider my-3" %>
    </div>

</div>
