<div class="w-25 bg-dark">
      <div class="d-flex flex-column menu justify-content-around">
          <p><%= link_to "Mes posts sauvegardés", posts_drafts_path %> </p>
          <p><%= link_to "Mon historique de post", posts_historique_path %> </p>
          <p><%= link_to "Mon posts programmés", programmations_path %> </p>
          <p><%= link_to "Générateur d'idées" %> </p>
          <p><%= link_to "Mes statistiques" %></p>
          <p><%= link_to "Générateur de post", new_post_path, class:"button-valider-annexe"%></p>
      </div>
  </div>
