<nav id='menu'>
  <%# <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label> %>
  <ul>
    <li><%= link_to "#", class: "navbar-brand" do%>
      <%= image_tag "logo_rheIA.png" %>
    <% end %></li>
    <li><%= link_to "Générateur de post", new_post_path %></li>
    <li><% if current_user %>
          <%= link_to "👤", root_path %>
        <% end %>
      <ul class='sub-menus'>
        <li><%= link_to "Générateur de posts", new_post_path %></li>
        <li><%= link_to "Mes posts sauvegardés", root_path %></li>
        <li><%= link_to "Générateur d'idées ",  root_path %></li>
        <li> <%= link_to "Historique des posts", root_path%>
        <li><%= link_to "Mes statistiques ",  root_path %></li>
       </ul>
    </li>

  </ul>
</nav>
